.profile {
  border-radius: 10px;
  background-color: var(--primary-background-color);
  width: 360px;
}

.description {
  padding: 50px;
  text-align: center;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.tag {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.location {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  align-content: space-between;
  list-style: none;
}

.statsposition {
  display: block;
  width: 120px;
  background-color: var(--secondary-background-color);
  padding: 25px;
  :hover {
    background-color: var(--primary-background-color);
  }
}

.label {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.quantity {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-top: 10px;
}