.item {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  gap: 16px;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--primary-background-color);
}

.item:hover {
  box-shadow: 0px 3px 2px 2px rgba(100, 100, 150, 0.15);
}

.status {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  object-fit: cover;
}

.name {
  font-size: 20px;
  color: var(--primary-text-color);
}